.App {
  font-family: sans-serif;
  text-align: center;
}

nav a {
  color: #000000;
  line-height: 1.5;
  position: relative;
  text-decoration: none;
}

nav a.active {
  font-weight: 600;
}

nav a::before {
  content: "";
  width: 0;
  height: 2px;
  border-radius: 2px;
  background-color: #000000;
  position: absolute;
  bottom: -0.25rem;
  right: 0;
  transition: right 0.4s, width 0.4s, left 0.4s;
}

nav a:hover::before {
  width: 100%;
  left: 0;
}

button.custom-btn {
  font-family: PlusJakartaSans, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Cantarell, Helvetica Neue, Ubuntu, sans-serif;
  font-size: 0.9rem;
  align-items: center;
  height: 36px;
  border-radius: 0.4rem;
  font-weight: 600;
  padding: 0 1rem;
  color: #ddd;
  border: none;
  box-shadow: 0 0.5rem 1rem rgba(143, 142, 142, 0.15) !important;
  background: #000000;
}

button.custom-btn:hover {
  background: #2b2a2a;
}

div input,
select {
  padding: 5px 10px 5px 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-overflow: ellipsis;
}

.card {
  border: 1px solid #ccc;
  height: 100px;
  width: 200px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card .title {
  font-weight: 600;
  letter-spacing: 0.5px;
  font-size: 18px;
}

.card .value {
  font-weight: 500;
  font-size: 16px;
}

.role.badge {
  font-size: 14px;
  background-color: #ededed;
  border-radius: 6px;
  padding: 6px 8px;
  color: #111;
  font-weight: 500;
}

.flex-1 {
  flex: 1;
}
